/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-navbar-link-hover-color:#1f4abf;
  --ifm-menu-color-active:#20609f;
  --ifm-link-color:#20609f;
  --ifm-footer-link-hover-color:#1f4abf;
  --ifm-breadcrumb-color-active: #4973e8;
  --ifm-color-primary: #c350ba;
  --ifm-color-primary-dark: #c350ba;
  --ifm-color-primary-darker: #c350ba;
  --ifm-color-primary-darkest: #c350ba;
  --ifm-color-primary-light: #c350ba;
  --ifm-color-primary-lighter: #c350ba;
  --ifm-color-primary-lightest: #c350ba;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-navbar-link-hover-color: #4973e8;
  --ifm-footer-link-hover-color: #4973e8;
  --ifm-menu-color-active: #20609f;
  --ifm-color-primary: #d693e1;
  --ifm-color-primary-dark: #c97fd6;
  --ifm-color-primary-darker: #b56bca;
  --ifm-color-primary-darkest: #a357be;
  --ifm-color-primary-light: #e1b6ec;
  --ifm-color-primary-lighter: #e8c3f0;
  --ifm-color-primary-lightest: #f2dfff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}